<h1>本を登録する</h1>

<div>
  <%= form_with model: @book, local: true do |f| %>

    <div>商品名</div>
    <%= f.text_area :name, placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>

    <div>ジャンル</div>
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>

    <div>感想</div>
    <%= f.text_area :impression, placeholder:"商品の説明（必須 1,000文字まで", maxlength:"1000" %>

    <div>
      <select>
        <option selected="selected" value="0">オススメ度</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div>
      <%= f.submit "登録する" %>
    </div>

    <div>
      <%=link_to 'もどる', root_path %>
    </div>

    
  <% end %>
</div>